{% extends 'base_course.html' %}

{% block top_content %}
{% endblock %}

{% block main_content_data %}
  {% include 'summary.html' %}

        <!-- {% if course_outline %}
        {% import 'macros.html' as macros %}
          <h1 class="gcb-syllabus-headers">
            {# I18N: Title for the course syllabus on the main contents page. #}
            {{ gettext('Syllabus') }}
          </h1>
          <div id="gcb-main" role="main">
            <div class="gcb-nav gcb-nav-full" id="gcb-nav-y">
              <ul>
                {% for outline_element in course_outline recursive %}
                  {{ macros.render_outline_element(
                         outline_element, can_see_drafts, course_availability,
                         'li', '', 'p', 'gcb-top-content') }}
                  {% if show_lessons_in_syllabus and outline_element.contents %}
                    <ul>
                      {{ loop(outline_element.contents) }}
                    </ul>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% for item in extra_content %}
              {{ item }}
            {% endfor %}
          </div>
        {% endif %} -->
      </div>
    </div>
{% endblock %}
