{% extends 'base_course.html' %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'preview',
    });
  }
{% endblock %}

{% block top_content %}
  <div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">

      {% include 'summary.html' %}
      
    </div>
  </div>
  {{html_hooks.insert('preview.after_top_content_ends') | safe}}
{% endblock %}

{% block main_content %}
  {{html_hooks.insert('preview.after_main_content_ends') | safe}}
{% endblock %}
