{% extends 'base_course.html' %}
{% block subtitle %}
Registration
{% endblock %}

{% block assets %}
  {{ super() }}
  <style type="text/css">
    form[action='register'] fieldset {
      margin-bottom: 10px;
    }
  </style>
{% endblock %}

{% block gcb_page_info %}
  if ('gcbSetPageInfo' in window) {
    gcbSetPageInfo({
      'page_type': 'register',
    });
  }
{% endblock %}

{% block top_content %}
{% endblock %}
{% block main_content %}
<div id="gcb-main">
  <div>
    <h1 class="gcb-unit-header">Registration</h1>
  </div>
  <div class="gcb-article tab-content">
      <p>{{course_info.reg_form.header_text | safe}}</p>
      <form action="register" method='post' onsubmit="return validateForm();">
        <input type="hidden" name="xsrf_token" value="{{ register_xsrf_token|escape }}">
        </input>
      {% include 'profile.html' %}
      </form>
  </div>
</div>

<script src="/modules/nptel/assets/js/registration.js"></script>
<script type="text/javascript">
function downloadRegisterJs() {
  addScript('/modules/nptel/assets/js/registration.js', initRegisterForm);
}
function fullOnload() {
  loadOtherJs(downloadRegisterJs);
}
{% if old_browser %}
  initRegisterForm();
{% else %}
  google.setOnLoadCallback(fullOnload);
{% endif %}
</script>
<script>
$(document).ready(function(){
  console.log("Lets do this");
     $(".chosen-select").chosen({no_results_text: "Oops, nothing found!"}); 
});
</script>
{% endblock %}
