<div class="gcb-cols">
    <div class="gcb-col-11 gcb-aside">

{% if show_video or show_image %}
  <div class="gcb-col-5">
{% else %}
  <div class="gcb-col-11">
{% endif %}

  <h1 class="gcb-product-headers-large">
    {{course_info.course.title}}
  </h1>

  <p class="gcb-product-headers">
  {{course_info.course.blurb | gcb_tags}}
  </p>

</div>

{% if show_video %}
  <div id="main-image" class="gcb-col-5">
    {# I18N: Alt text for an embedded YouTube video player. #}
    <div class="gcb-video-container">
        <iframe class="youtube-player" type="text/html"
            title="{{ gettext('YouTube Video Player') }}"
            src="https://www.youtube.com/embed/{{video_id}}?rel=0"
            frameborder="0"
            allowfullscreen="allowfullscreen">
        </iframe>
    </div>
  </div>
{% elif show_image %}
  <div id="main-image" class="gcb-col-5">
    <img height="300"
        alt="{{course_info.course.main_image.alt_text}}"
        src="{{course_info.course.main_image.url}}">
  </div>
{% endif %}
{% if transient_student %}
  {% include 'registration_module.html' %}
{% endif %}
</div>
</div>

<div class='clear'></div>
<div class="gcb-bio-headers">
  {{course_info.course.instructor_details | safe}}
</div>

<div class='clear'></div>
<div class="gcb-product-headers">
{{course_info.course.extra_info | gcb_tags}}
</div>
<div class='clear'></div>
<div class="gcb-product-headers">
{% if is_enrolled %}
  {% if course_info.course.show_exam_registration_button and exam_registration_url   %}
        <a class="gcb-button gcb-button-large" href="{{exam_registration_url}}" role="button">
          {# I18N: Exam Registration button on the main course page. #}
           Register for Exam
        </a>
  {% endif %}
{% endif %}
</div>
