<h2> Add Mentors </h2>
<p><strong>Paste your mentor data in the following format: </strong></p>
<p>mentor_email,local_chapter_ID</p>
<form action='dashboard' method='post'>
  <textarea name='mentor_email_list' rows=10 cols=50>mentor_email,local_chapter_ID</textarea>
  <input type='hidden' name='xsrf_token' value='{{ add_mentors_xsrf_token }}'></input>
  <input type='hidden' name='action' value='add_mentors'></input>
  <br/>
  <input class='gcb-button' type="submit" value="Add Mentors"></input>
</form>
<a class='gcb-button' href="dashboard?action=mentor&tab=list_mentors">Back</a>
