{% extends base %}
{% block main_content_header %}
<div>
  <h1 class="gcb-unit-header">
    {# I18N: Header text for a unit page. #}
    {{ gettext('Evaluate : %(title)s', title=unit.title) }}
  </h1>
</div>
{% endblock %}

{% block main_content_data %}
<div style="display: inline-block;font-size:16px;padding-bottom: 7px;">
{% if can_evaluate %}
  {% if override_work %}
    <table>
    {% for work in override_work %}
      <tr>
        <td>
          {{ work.reviewee_key.id_or_name() }}
        </td>
        <td>
          <a href='course_staff?action=evaluate&key={{ work.key() }}'>Evaluate</a>
        </td>
        <td>
          {{ work.submission_key.id_or_name() }}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% elif pending_work %}
    <table>
    {% for work in pending_work %}
      <tr>
        <td>
          {{ work.reviewee_key.id_or_name() }}
        </td>
        <td>
          <a href='course_staff?action=evaluate&key={{ work.key() }}'>Evaluate</a>
        </td>
        <td>
          {{ work.submission_key.id_or_name() }}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% elif completed_work %}
    <table>
      <tr>
        <td>Student</td>
        <td>Score</td>
        <td></td>
      </tr>
    {% for work in completed_work %}
      <tr>
        <td>
          {{ work.reviewee_key.id_or_name() }}
        </td>
        <td>
          {{ work.score }}
        </td>
        <td>
          <a href='course_staff?action=evaluate&key={{ work.key() }}'>Re-Evaluate</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% elif show_evaluated %}
    You have not evaluated any submissions yet.
  {% else %}
    No Submissions for evaluation
  {% endif %}

  <div>
  {% if show_evaluated %}
    <a href='course_staff?action=list&name={{ unit_id }}'>Show unevaluated Submissions</a>
  {% else %}
    <a href='course_staff?action=list&show_evaluated=True&name={{ unit_id }}'>Show Evaluated Submissions</a>
  {% endif %}
  {% if show_override %}
    </br><a href='course_staff?action=list&override=True&name={{ unit_id }}'>Show submissions by other evaluators.</a>
  {% endif %}
  </div>
{% else %}
  This assignment is not ready for evaluation.
{% endif %}
</div>
{% endblock %}
