<script type="text/javascript" src="//www.google.com/jsapi"></script>
<h3>Enrolled Students</h3>
<br/>
<div id='navigation-div'>
    <label>Number of rows to show in a page:</label>
    <input id='no-of-entries' type='text' value='{{ no_of_entries }}'></input>
    <label>Order By: </label>
    <select id='order'>
        <option value='email'
            {% if order == 'email' %} selected {% endif %}>Email</option>
        <option value='user_id'
            {% if order == 'user_id' %} selected {% endif %}>User ID</option>
    </select>
    <input type='checkbox' id='invert_order'
    {% if invert_order %} checked {% endif %}>Invert</input>
    <button class='gcb-button' onclick='changeNoOfEntries()'>Go</button>
    <span class='gcb-pull-right'>
        <label>Search by email: </label>
        <input id='search-email' placeholder="Email" value='{{ search_str }}'></input>
        <button class='gcb-button' onclick='searchByEmail()'>Search</button>
        <button class='gcb-button' onclick='clearSearch()'>Clear</button>
    </span>
</div>
<br/>
<div id='students-table'></div>
<br/>
<div id='nav-buttons'>
    <a class='gcb-button' href='{{ list_action|safe }}&num={{ no_of_entries }}&cursor={{ cursor }}&order={% if invert_order %}-{% endif %}{{ order }}&reverse_query=yes'>Previous</a>
    <a class='gcb-button' href='{{ list_action|safe }}&num={{ no_of_entries }}&cursor={{ new_cursor }}&order={% if invert_order %}-{% endif %}{{ order }}'>Next</a>
</div>
<br/>
<div id='force-enroll-student-div'>
    <h3>Force Enroll a Student</h3>
    <p>Please enter the Email ID of the student to force-enroll in this course.</p>
    <p>Note: The student needs to have registered in some course previously, otherwise this action will fail.</p>
    <form action='{{ enroll_action }}' method='post'>
        <input type='hidden' name='xsrf_token' value='{{ enroll_xsrf }}'></input>
        <input type='text' name='email' placeholder='Email'></input>
        <button type='submit' class='gcb-button'>Force Enroll</button>
    </form>
</div>
<script type='text/javascript'>
function changeNoOfEntries() {
    var no_of_entries = parseInt(document.getElementById('no-of-entries').value);
    if (no_of_entries >= 1) {
        order = document.getElementById('order').value;
        invert = document.getElementById('invert_order').checked;
        if (invert) {
            order = '-' + order;
        }
        window.location.href = '{{ list_action|safe }}&num=' + no_of_entries
                                + '&order=' + order;
    }
    else {
        alert('Please enter a valid number');
    }
}

function searchByEmail() {
    var email = document.getElementById('search-email').value;
    if (email) {
        window.location.href = '{{ list_action|safe }}&email=' + email;
    }
    else {
        alert('Please enter an email ID to search');
    }
}

function clearSearch() {
    {% if search_str %}
        window.location.href = '{{ list_action|safe }}';
    {% endif %}
}

function drawTables() {

    {% if objects %}
        var table = new google.visualization.DataTable();

        table.addColumn('string', 'User ID');
        table.addColumn('string', 'Email');
        table.addColumn('boolean', 'Currently Enrolled');
        {% for unit in units %}
            table.addColumn('number', '{{ unit.title }} ({{ unit.unit_id }})');
        {% endfor %}


        {% for student in objects %}
            table.addRows(1);
            var rowIndex = {{ loop.index0 }};
            table.setCell(rowIndex, 0, '{{ student.user_id }}');
            table.setCell(rowIndex, 1,
                '<a href="{{ details_action }}&key={{ student.key() }}">{{ student.email }}</a>');
            table.setCell(rowIndex, 2, {% if student.is_enrolled %}true{% else %}false{% endif %});
            {% set student_scores=student_scores_list[loop.index0] %}
            {% for unit in units %}
                {% set score=student_scores[unit.unit_id|string] %}
                {% if not score %}
                    {% set score=0 %}
                {% endif %}
                table.setCell(rowIndex, (3+{{ loop.index0 }}), {{ score }});
            {% endfor %}

        {% endfor %}

        new google.visualization.Table(
            document.getElementById('students-table')
        ).draw(
            table, {
                allowHtml: true,
                title: 'Enrolled Students'
            }
        )
    {% else %}
        document.getElementById('students-table').innerHTML = 'No records found';
    {% endif %}
}

google.load('visualization', '1', {packages: ['table']});
google.setOnLoadCallback(drawTables);
</script>
