<li>Name: <strong>{{ profile.nick_name }}</strong></li>
<li>Email: <strong>{{ email }}</strong></li>
<li>Enrollment Status: <strong>{{ is_enrolled }}</strong></li>
<li>College Name: <strong>{{ profile.name_of_college }}</strong></li>
<li>College ID: <strong>{{ profile.college_id }}</strong></li>
<li>Local Chapter: <strong>{{ profile.local_chapter }}</strong></li>
<li>City: <strong>{{ profile.city_of_residence }}</strong></li>
<li>State: <strong>{{ profile.state_of_residence }}</strong></li>
<li>Country: <strong>{{ profile.country_of_residence }}</strong></li>
