<h3>Student Profile for {{ profile.nick_name }}</h3>
<div id='student-profile-details-div'>
    <ul>
        {% include 'templates/profile_fields.html' %}
        {% if enrollment_info %}
        <li>Enrolled Courses
            <ul>
                {% for course in courses %}
                {% if course.namespace in enrollment_info %}
                    <li><a href='{{ course.slug }}/dashboard?action=analytics_student_list&email={{ profile.email }}'>{{ course.namespace }}: {{ course.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
</div>
<div>
    <a class='gcb-button' href='{{ back_action }}'>Back</a>
</div>
