{% extends base %}

{% block top_content %}
    <script src='/modules/ajax_registry/assets/js/registry.js'></script>
    <!-- <script src='/modules/offline_assignments/editor/ckeditor/ckeditor.js'> -->
{% endblock %}
{% block edit_unit_content %}
    {% if is_read_write_course and is_course_admin %}
        {% if assignment %}
            {% if assignment.edit_action %}
                <a class="gcb-button pull-right" role="button"
                    style="float:right;width:60px;"
                    href="{{ assignment.edit_action }}" >Edit</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block main_content_header %}
<div>
  <h1 class="gcb-unit-header">
    {# I18N: Header text for a unit page. #}
    {{ gettext('%(title)s', title=unit.title) }}
  </h1>
</div>
{% endblock %}

{% block main_content_data %}

{% if assignment %}
  <div style='clear: both; padding-top: 2px;' />
  {% if assignment.question %}
    <div style="display: inline-block;font-size:16px;padding-bottom: 7px;">
      {{ assignment.question | safe }}
    </div>
    <div style="padding-bottom: 2px; clear: both;"></div>
    {% else %}
    <p>{{ gettext('No Question') }}</p>
    {% endif %}
{% endif %}
{% endblock %}
