{% macro show_subunit(subunit) -%}
  {% if subunit.is_custom_unit %}
    <li class="unit_current">
    <div class="gcb-left-activity-title-with-progress gcb-nav-pa">
      <a
        href="course_staff?action={{ CUSTOM_UNITS[subunit.custom_unit_type].list_action }}&name={{ subunit.unit_id }}"
        >{{ gettext('%(title)s', title=subunit.title) }}</a>
</div></li>
  {% endif %}
{%- endmacro %}

<div class="gcb-nav" id="gcb-nav-left" role="navigation">
   <div class='gcb-aside'>
  <h2>Course outline</h2>
  <ul class="unit_navbar_ul" id="course_navbar">
    {% for uiter in units %}
        {% if uiter.type == 'U' %}
            {% for subunit in unit_dict[uiter.unit_id] %}
              {% if subunit.custom_unit_type in CUSTOM_UNITS %}
              {{ show_subunit(subunit) }}
              {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
  </ul>
  </div>
</div>
