{% extends 'course_staff.html' %}
{% block main_content_header %}
<div>
  <h1 class="gcb-unit-header">
    {# I18N: Header text for a unit page. #}
    {{ gettext('Evaluation Page') }}
  </h1>
</div>
{% endblock %}

{% block main_content_data %}
{% if evaluator %}
  <table>
    <tr>
      <td>
        Num Assigned
      </td>
      <td>
        Num Graded
      </td>
    </tr>
    <tr>
      <td>
        {{ evaluator.num_assigned }}
      </td>
      <td>
        {{ evaluator.num_graded }}
      </td>
    </tr>
  </table>
{% endif %}
{% endblock %}
