<form id='reevaluate-progrmming-assignment' action='{{ reevaluate_url }}' method='POST'>
<p>
{{ gettext('Choose the Assignment to be reevaluated.') }}
</p>
<select name='unit_id' id='unit_id'>
  <option value='' selected>--</option>
  {% for u in reeval_units %}
    <option value='{{ u.unit_id }}'>{{ u.title }}</option>
  {% endfor %}
</select>
<input type="hidden" name="xsrf_token" value="{{ submit_xsrf_token|escape }}">
<button type="submit" name='Submit' value='Submit' class="gcb-button">Submit</button>
</form>
