<label style="font-size:15px;">
  <strong>Public Tests:</strong>
</label>
{% if assignment.ierr %}
<label style="font-size:15px;color:red;">
  {{ assignment['ierr'] }}
</label>
{% else %}
<label style="font-size:15px;">
  {{ assignment.response.num_test_passed }} /
  {{ assignment.response.num_test_evaluated }} {{ gettext('Passed') }}
</label>
{% endif %}

<div id="info-div">
  <label>
    <i>Note: These tests may not be considered while scoring.
      <a href="#" onclick="showExplanationDiv(); return false;">Know more</a>.
    </i>
  </label>

  <div id="explanation-div" style="display: none;">
    <p>We have two sets of testcases, public and private. The public test
      cases are visible to you when you click on <strong>Compile and Run</strong>
      and may or may not be considered while calculating your score.
    </p>
    <p>The private testcases are hidden and are considered for scoring when you
      click on <strong>Submit</strong>. These are <strong>not</strong> visible
      to you, and usually have a greater impact on your score.
    </p>
    <p>
      So if you pass all the public testcases but still don't get a full score,
      that means you're missing out on some edge case scenario which is covered
      in some of the private testcases.
      <a href="#" onclick="closeExplanationDiv(); return false;">Close</a>
    </p>
  </div>
</div>

{% macro show_pre(t) -%}
  {% if t  %}
    <pre class="gcb-testcase"><span class="pre-output">{{ t | escape}}</span></pre>
  {% endif %}
{%- endmacro %}

{% if assignment.response.test_case_results %}
<div class="gcb-test-output-container">
  {% for result in assignment.response.test_case_results %}
    <div class="gcb-test-output gcb-aside">
      <div>
        <div class="gcb-test-case-number">
          {{ gettext('Test Case %(index)s', index=loop.index) }}
        </div>
    {% if result.passed %}
        <div class="gcb-test-case-result gcb-output-correct">Passed</div>
          {% if result.reason %}
            <div class="gcb-test-case-result gcb-output-wrong">
            {{ gettext(' after ignoring %(err)s', err=result.reason) }}
            </div>
          {% endif %}
      </div>
    {% else %}
        <div class="gcb-test-case-result gcb-output-wrong">
          {{ result.reason }}
        </div>
      </div>
      <div class="gcb-test-case-detail">
        <table class="gcb-sample-input-table" style="width:100%;">
          <tr class="gcb-sample-input-table-heading">
            <td>Input</td>
            <td>Expected Output</td>
            <td>Actual Output</td>
          </tr>
          <tr>
            <td>
              {% if (assignment.sample_tests|length) >= loop.index %}
                {{ show_pre(assignment.sample_tests[loop.index-1]['input']) }}
              {% endif %}
            </td>
            <td>
              {{ show_pre(result.expected_output) }}
            </td>
            <td>
              {{ show_pre(result.output) }}
            </td>
          </tr>
        </table>
      </div>
    {% endif %}
    </div>
  {% endfor %}
</div>
{% endif %}

<script>
function showExplanationDiv() {
  document.getElementById("explanation-div").style.display = "block";
}
function closeExplanationDiv() {
  document.getElementById("explanation-div").style.display = "none";
}
</script>
