  {% if course_staff_list %}
  <h2> Existing Course Staff </h2>
    <table>
      <tr>
        <td>Email</td>
       <td>Can Grade Submissions</td>
       <td>Can Override Grades</td>
       <td></td>
      </tr>
      {% for m in course_staff_list %}
        <tr>
          <td>{{ m.email }}</td>
         <td>
           {% if m.can_grade %}
             Yes
             <form action='dashboard' method='post'>
               <input type='hidden' name='xsrf_token' value='{{ course_staff_not_allowed_to_grade_xsrf_token }}'></input>
               <input type='hidden' name='action' value='course_staff_not_allowed_to_grade'></input>
               <input type='hidden' name='course_staff_id' value='{{ m.user_id }}'></input>
               <input type="submit" value="Remove Permission"></input>
             </form>
           {% else %}
             No
             <form action='dashboard' method='post'>
               <input type='hidden' name='xsrf_token' value='{{ course_staff_allowed_to_grade_xsrf_token }}'></input>
               <input type='hidden' name='action' value='course_staff_allowed_to_grade'></input>
               <input type='hidden' name='course_staff_id' value='{{ m.user_id }}'></input>
               <input type="submit" value="Allow To Grade"></input>
             </form>
           {% endif %}
         </td>
         <td>
           {% if m.can_override %}
             Yes
             <form action='dashboard' method='post'>
               <input type='hidden' name='xsrf_token' value='{{ course_staff_can_not_override_xsrf_token }}'></input>
               <input type='hidden' name='action' value='course_staff_can_not_override'></input>
               <input type='hidden' name='course_staff_id' value='{{ m.user_id }}'></input>
               <input type="submit" value="Remove Permission"></input>
             </form>
           {% else %}
             No
             <form action='dashboard' method='post'>
               <input type='hidden' name='xsrf_token' value='{{ course_staff_can_override_xsrf_token }}'></input>
               <input type='hidden' name='action' value='course_staff_can_override'></input>
               <input type='hidden' name='course_staff_id' value='{{ m.user_id }}'></input>
               <input type="submit" value="Allow To Override"></input>
             </form>
           {% endif %}
         </td>
         <td>
           <form action='dashboard' method='post'>
             <input type='hidden' name='xsrf_token' value='{{ remove_course_staff_xsrf_token }}'></input>
             <input type='hidden' name='action' value='remove_course_staff'></input>
             <input type='hidden' name='course_staff_id' value='{{ m.user_id }}'></input>
             <input type="submit" value="Remove"></input>
           </form>
         </td>
        </tr>
    {% endfor %}
    </table>
  {% endif %}
  <hr/>
  <h2> Add Course Staff </h2>
  <form action='dashboard' method='post'>
    <textarea name='course_staff_email_list' rows=10 cols=50></textarea>
    <input type='hidden' name='xsrf_token' value='{{ add_course_staff_xsrf_token }}'></input>
    <input type="submit" value="Add Course Staff"></input>
    <input type='hidden' name='action' value='add_course_staff'></input>
  </form>
