<style>
  /* Top Content stuff */
  #top-content {
    background: #f6f6f6;
    border-bottom: 1px solid rgb(229, 229, 229);
  }

  .left-padded {
    padding-left: 28px;
  }

  #top-bar {
    display: flex;
    align-items: center;
    background: #a90909;
    /*background-image: -moz-linear-gradient(top,#fafafa,#f5f5f5);
    background-image: -webkit-linear-gradient(top,#fafafa,#f5f5f5);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fafafa),color-stop(1,#f5f5f5));*/
    /*filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa,EndColorStr=#f5f5f5)";*/
    /*background-image: linear-gradient(top,#fafafa,#f5f5f5);*/
    border-bottom: 1px solid #ebebeb;
    color: white;
    padding: 17px 15px 5px;
    font-size: 15.6px;
    font-family: arial, sans-serif;
  }
  #title {
    flex: 1;
    font-family: "open sans", arial, sans-serif;
  }
  #icon, #controls {
    flex-basis: auto;
  }
  #top-bar h1 {
    margin: 0;
    margin-left: 15px;
    border-left: 1px solid rgb(186, 188, 192);
    padding-left: 12px;
    font-size: 27px;
    font-weight: normal;
    color: white;
    line-height: 1.52;
  }
  #top-bar a {
    color: inherit;
    text-decoration: underline;
  }
  #controls {
    align-self: flex-start;
    line-height:1.54;
  }

  /* Custom Nav Bar stuff */
  #gcb-nav-x {
    background-image: none;
    background-color: #f6f6f6;
    margin: 0px 0 8px -15px;
  }

  #gcb-nav-x li, #gcb-nav-x li a {
    color: #444;
  }

  /* Explorer content video */

  #extra-content table, tr, td{
    padding: 0px;
    border: 0px;
    table-layout: auto;
    width: 100%;
  }

  #extra-content, #main-heading {
    padding-left: 28px;
  }

  #explorer-youtube-video {
    padding-left: 20px;
    padding-right: 28px;
  }

</style>

<div id="top-content">
  <div id="top-bar">
      <img src="{{site.logo.url}}" alt="{{site.logo.altText}}" id="icon"></img>
      <h1 id="title">{{site.title}}</h1>
      <div id="controls">
        {% if currentUser.loggedIn %}
          {{currentUser.email}} |
          {% if currentUser.canViewDashboard %}
            <a href="/modules/admin">Dashboard</a> |
          {% endif %}
          {% if currentUser.canViewSpocAdmin %}
            <a href="/spoc">SPOC Admin</a> |
          {% endif %}
          {% if currentUser.hasProfile %}
            <a href="/profile">Profile</a> |
          {% endif %}
          <a href="{{currentUser.logoutUrl}}">Logout</a>
        {% else %}
          <a href="{{currentUser.loginUrl}}">Login</a>
        {% endif %}
      </div>
  </div>

  <div id='custom-nav-bar-contents'>
    <div id="custom-nav-bar">
      <div class="gcb-nav gcb-complex nptel-explorer-nav" id="gcb-nav-x">
        <div style='margin-left: 10px' class="gcb-aux">
          <ul class="clearfix">
            {% for item in navbar_links.left %}
              <li class='active'>
                <a target='{{item.target}}' href='{{item.href}}'>{{item.title}}</a>
              </li>
            {% endfor %}
            {% for item in navbar_links.right %}
              <li class='active gcb-pull-right'>
                <a target='{{item.target}}' href='{{item.href}}'>{{item.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="extra-content">
    <table>
      <tr>
        <td>
            {{site.courseExplorer.extraContent|safe}}
        </td>
        <td>
          <iframe id="explorer-youtube-video" class="youtube-player" type="text/html" height="315" width="565"
           title="YouTube Video Player" src="{{site.courseExplorer.youtubeVideo}}"
           frameborder="0" allowfullscreen></iframe>
        </td>
      </tr>
    </table>
  </div>
</div>
