<form id='rescore-objective-assessment' action='{{ rescore_url }}' method='POST'>
<p>
{{ gettext('Are you sure you want to rescore') }} {{ unit.title }}
</p>
<input type="hidden" name="unit_id" value='{{ unit.unit_id }}'>
<input type="hidden" name="ignore_order" value='{{ ignore_order }}'>
<input type="hidden" name="xsrf_token" value="{{ submit_xsrf_token|escape }}">
<button type="submit" name='submit' value='Submit' class="gcb-button">Submit</button>
<button type="submit" name='submit' value='Cancel' class="gcb-button">Cancel</button>
</form>
