<form id='rescore-objective-assessment' action='{{ rescore_url }}' method='POST'>
<p>
{{ gettext('Choose the Assessment to be rescored.') }}
</p>
<select name='unit_id' id='unit_id'>
  <option value='' selected>--</option>
  {% for u in rescore_units %}
    <option value='{{ u.unit_id }}'>{{ u.title }}</option>
  {% endfor %}
</select>
<input type="checkbox" name="ignore_order" id="ignore_order" value="yes">Ignore Order
<input type="hidden" name="xsrf_token" value="{{ submit_xsrf_token|escape }}">
<button type="submit" name='Submit' value='Submit' class="gcb-button">Submit</button>
</form>
