<script type="text/javascript" src="//www.google.com/jsapi"></script>
<div style='margin-bottom:20px'>
    <h3>Manual Reivews for {{ course_staff.email }}</h3>
    <p>Please select an assignment</p>
    <ul>
        {% for unit in units %}
        <li><a href='{{ view_by_assessment_action }}&key={{ unit.unit_id }}&evaluator_id={{ course_staff.user_id }}'>
                {{ unit.unit_id }} : {{ unit.title }}</a>
        </li>
        {% endfor %}
</div>
<div>
    <a href='{{ dashboard_home_action }}'class='gcb-button'>Back</a>
</div>
